.subreddits-container {
  margin-top:0.5rem;
  display:none;
  height:100%;
  align-items:center;
  justify-content:space-between;
}

.dropdown-container {
  max-width:50%;
  min-width:40%;
  flex:1;
  justify-content:right;
}

@media only screen and (max-width:650px) {
  .subreddits-container {
    display:flex;
  }
}