
.li {
  margin:5px 0 5px 0;
  list-style:none;
  transition: all 1s;
}

.hover-container {
  padding:5px 20px 5px 10px;
  height:100%;
  transition: all 1s;
}

.hover-container:hover {
  background-color:lightgray;
}

.icon {
  min-width:30px;
  min-height:30px;
  max-width: 30px;
  border-radius:50%;
  vertical-align:middle;
}

.subreddit-name {
  display:inline;
  margin:auto;
  padding-left:1rem;
  vertical-align:middle;
}

.cancel-button {
  height:1.2rem;
  padding:0;  
  position:fixed;
  left:250px;
  margin-top:7px;
  cursor:pointer;
}