
.li {
  margin:5px 0 5px 0;
  list-style:none;
  padding:0;
  transition: all 1s;
  z-index:20;
}

.hover-container {
  margin:0;
  padding:5px 20px 5px 10px;
  z-index:20;
}

.hover-container:hover {
  background-color:lightgray;
}

.icon {
  display:inline;
  min-width:30px;
  min-height:30px;
  max-width: 30px;
  vertical-align:middle;
  border-radius:50%;
}

.subreddit-name {
  display:inline;
  vertical-align:middle;
  margin:auto;
  padding-left:1rem;
}