
.comment-container {
  width:95%;
  padding:2.5%;
  margin: .5rem auto;
  background-color:white;
  box-shadow: 1px 1px gray;
  font-size: 0.9rem;
  overflow:clip;
  border-radius: 5px;
}

.comment-container:hover {
  background-color:whitesmoke;
}

.comment-info {
  display: flex;
  justify-content:space-between;
}

.author {
  font-weight:bold;
  color:darkblue;
}

.created-text {
  margin: 0;
}

.body {
  padding:0 1rem;
  overflow:clip;
}