.panel-container {
  max-width:1000px;
  padding-bottom:1rem;
}

.return-button {
  margin-left:10px;
  color:red;
  border: 1px solid red;
  padding-top:2px;
  background-color:white;
  border-radius:5px;
}

.return-button:hover {
  background-color:whitesmoke;
}

.skeleton {
  margin-bottom: .5rem;
  background-color:whitesmoke;
  box-shadow: 1px 1px gray;
  height:5rem;
}