.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:lightgray;
}

.Header {
  background-color:rgb(211, 189, 233);
  height: 3.7rem;
  color:rgb(114, 20, 202);
  width:100%;
  border-bottom:1px solid black;
  position:fixed;
  top:0;
  z-index: 100;
}

.Main {
  display:grid;
  grid-template-columns: 295px minmax(0,1fr);
  position:relative;
  top: 3.8rem;
  z-index:1;
  min-height:250px;
}

.SubredditsBlock {
  grid-column: 1;
}

.LinksBlock, .CommentsBlock {
  grid-column: 2;
  z-index:20;
}

.PanelContainer {
  background-color:white;
  transition: all 1s;
  margin:1rem;
  box-shadow:2px 2px gray;
  border-radius:10px;
  min-width:0;
}

.PanelTitle {
  margin:0;
  padding:.5rem;
}

.PanelList {
  margin: 0.5rem;
  padding:0;
}

.CreatedText {
  font-style:italic;
  color:gray;
  margin:.5rem 0 1rem 1rem;
}

@media only screen and (max-width:900px) {
  .Main {
    grid-template-columns: 275px minmax(0,1fr);
  }

  .PanelContainer {
    margin:0.5rem;
  }
}

@media only screen and (max-width:650px) {
  .Main {
    display:block;
    margin:0;
    padding:0;
  }
}