.app {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color:rgba(211, 211, 211, 0.3);
  min-height:1000px;
}


.App-link {
  color: #61dafb;
}

.main {
  width:100%;
  display:inline-block;
  margin:0;
  padding:0;
}

.subreddit-container {
  background-color:white;
  display:inline-block;
  width:240px;
  margin:0.5rem 0 0 1rem;
  padding:0;
  box-shadow: 2px 2px 1px lightgray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
