
.form-container {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

.searchbar-container {
  flex-grow:1;
  max-width:50%;
  height:100%;
}

.searchbar {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(114, 20, 202);
  font-size:1.1rem;
  width:100%;
  border:1px solid black;
}

.searchbar::placeholder {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(114, 20, 202);
}

.button-container {
  flex-grow:0;
}

.search-button, .clear-button {
  height:1.5rem;
  border:none;
  background-color:rgb(211, 189, 233);
  cursor:pointer;
}

.search-button {
  margin-left:.5rem;
}

img {
  height:100%;
}

@media only screen and (max-width:500px) {
  .button-container {
    margin-left:0.5rem;
  }

  .search-button, .clear-button {
    height:1rem;
    margin:0;
    padding:0;
  }
}