.header-main {
  display:flex;
  align-items: center;
  height:100%;
  width:100%;
}

.jgt-logo {
  flex-shrink:0;
}

.searchbar-container {
  flex-grow:1;
}

.h1 {
  font-family: 'Titan One', sans-serif;
  letter-spacing: .06rem;
  font-weight: normal;
}

.h1-big {
  font-size: 2rem;
  padding:0 1rem;
  margin: auto 0;
  text-decoration:underline;
}

.h1-small {
  display:none;
}