.header-main {
  height:100%;
  width:100%;
}

.header-flex {
  display:flex;
  align-items: center;
  height:100%;
  width:100%;
}

.jgt-logo {
  flex-shrink:1;
}

.searchbar-container {
  flex-grow:1;
}

.h1 {
  font-family: 'Titan One', sans-serif;
  letter-spacing: .06rem;
  font-weight: normal;
}

.h1-big {
  font-size: 2rem;
  padding:0 1rem;
  margin: auto 0;
  text-decoration:underline;
}

.h1-small {
  display:none;
}

@media only screen and (max-width:1150px) {
  .h1 {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width:900px) {
  .h1-small {
    display:block;
    width:100%;
    margin:0 auto;
    padding:0;
    text-align:center;
  }

  .h1-big {
    display:none;
  }

  .header-flex {
    margin:.5rem auto 0 auto;
    padding:0;
    height:1.2rem;
  }

}