

.link-container {
  display: inline-block;
  margin: 0.5rem 0 .5rem 2rem;
  min-width: 30%;
  max-width:50%;
  min-height: 649px;
  background-color: white;
  vertical-align:top;
  padding:0 1rem;
  box-shadow: 2px 2px 1px lightgray;
  z-index:1;
  transition:background-color 1s;
  overflow:clip;
}

.h2 {
  margin:.5rem 0 .5rem 0;
  padding:0 0 0 .5rem;
}

.prev, .next {
  border-style:none;
  background: none;
  box-shadow: none;
  cursor:pointer;
  color: blue;
}

.prev {
  margin-left:10px;
}

.next {
  float:right;
  margin-right:10px;
}

.links-list {
  margin:0;
  padding:0;
}