
.link-container {
  background-color: white;
  margin:0 auto 1rem auto;
  border: 2px solid black;
  border-radius:10px;
  overflow:clip;
}

.post-image-container {
  width:100%;
  display:flex;
  justify-content:center;
}

.post-image {
  max-width:90%;
  margin:1rem auto 0 auto;
  padding:0;
  border-radius:5px;
}

.title {
  margin:1rem 1rem 0 1rem;
  padding-bottom: 0.2rem;
  cursor:pointer;
}

.selftext {
  margin: 0 5%;
  overflow:clip;
}

.post-info {
  width:90%;
  display:flex;
  margin:auto;
  justify-content:space-between;
}

.vote-icon {
  height:1rem;
  margin-right:5px;
}

.comment-button {
  border-style:none;
  background: none;
  box-shadow: none;
  cursor:pointer;
  color: blue;
}

.comment-icon {
  height:1rem;
  margin-right:5px;
}